<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deyanpeev.quiztime">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".fragments.InitialPage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.CreateNew"
            android:parentActivityName=".fragments.InitialPage" />
        <activity
            android:name=".fragments.CreateNewCategory"
            android:parentActivityName=".fragments.CreateNew" />
        <activity
            android:name=".fragments.CreateNewInterestingFact"
            android:parentActivityName=".fragments.CreateNew" />
        <activity
            android:name=".fragments.CreateNewQuestion"
            android:parentActivityName=".fragments.CreateNew" />
        <activity
            android:name=".fragments.SettingsActivity"
            android:parentActivityName=".fragments.InitialPage" />
        <activity
            android:name=".fragments.ChooseGame"
            android:parentActivityName=".fragments.InitialPage" />
        <activity
            android:name=".fragments.GamePlay"
            android:parentActivityName=".fragments.ChooseGame" />
    </application>

</manifest>